.GuessRow{
    display: flex;
    width: 20vw;
    height: 15%;
    justify-content: space-between;
}
/* medium devices */
@media screen and (max-width: 1024px){
    .GuessRow{
        width: 40dvw;
    }
}
@media screen and (max-width: 600px){
    .GuessRow{
        width: 75dvw;
    }
}