.p-dialog-title {
    font-size: 50px !important;
}
.play-again-btn{
    width: 25vw;
    height: 6.5vh;
    background-color: gray;
    border-radius: 20px;
    border: none;
}
.play-again-btn:hover{
    transform: scale(.94);
}

@media screen and (max-width: 600px){
    .MainPopup{
        width: 85vw !important;
    }
    .play-again-btn{
        width: 35vw;
        height: 7vh;
        color: black;
        font-size: medium;
    }
}