.example-word{
    display: flex;
    list-style: none;
    gap: .25rem;
}
.example-letter{
    border: 1px solid gray;
    font-size: 20px;
    padding: .1rem .25rem;
    color: white;
    background-color: lightgray;
}
.blue-example-letter{
    background-color: blue;
}
.tutorial-paragraph{
    margin-block: 0;
    font-weight: bolder;
}

@media screen and (max-width: 1024px){
    .TutorialModal{
        width: 70vw !important;
    }
    .tutorial-paragraph{
        font-size: 25px;
    }
}

@media screen and (max-width: 600px){
    .TutorialModal{
        width: 85vw !important;
    }
    .tutorial-paragraph{
        font-size: 18px;
    }
}