.Keyboard{
    height: 25vh;
    width: 30vw;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.keyboard-row{
    display: flex;
    width: 100%;
    height: 32%;
    justify-content: space-evenly;
}
.keyboard-middle-row{
    padding: 0 4.9%;
    justify-content: center;
    width: calc(30vw + 2 * 4.9%);
}

@media screen and (max-width: 1024px){
    .Keyboard{
       width: 60vw;
       height: 25vh;
    }
    .keyboard-middle-row{
        padding: 0 4.9%;
        justify-content: center;
        width: calc(60vw + 2 * 4.9%);
    }
}
@media screen and (max-width: 600px){
    .Keyboard{
       width: 100vw;
       height: 25vh;
    }
    .keyboard-middle-row{
        padding: 0 4.9%;
        justify-content: center;
        width: calc(100vw + 2 * 4.9%);
    }
}


