.Keyboard{
    /* height: 30vh; */
    width: 100vw;
    /* background-color: blue; */
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}
.keyboard-row{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 0.5%;
}
