.App{
  text-align: center;
  overflow: hidden;
  background-color: #1a1a1a;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.gameboard{
  text-align: center;
  width: 100vw;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* z-index: 2; */
}

.record-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 1024px){
  .gameboard{
      height: 45vh;
  }
}

@media screen and (max-width: 1024px){
  .gameboard{
    height: 45vh; 
  }
  .App{
    justify-content: flex-start;
  } 
}