.Key{
    width: 9.8%;
    height: 100%;
    background-color: lightgray;
    border: rgba(0, 0, 0, 0.646) solid .5px;
    border-radius: 10px;
    color: black;
}
.special-key{
    width: 14.7%;
}

.Key:hover{
    transform: scale(1.13);
}

/* medium devices */
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 600px){
    .Key:hover{
        transform: scale(1);
    }
    
}